<div class="wichtiges-container">
  <h1 class="castilla">wichtiges</h1>

  <section class="section">
    <h2 class="didot">FLÜGE</h2>
    <p class="item">30.11. | 18:35 Zürich | 20:55 Madrid (T2) | aireuropa<br>
      1.11. | 11:45 Madrid (T4) | 14:10 Zürich | iberia</p>
  </section>

  <section class="section">
    <h2 class="menu-items">NUMMERN</h2>
    <ul class="menu-items">
      <li class="item">Anna +491794199893</li>
      <li class="item">Mike +4915208752841</li>
      <li class="item">Mama +491759971467</li>
      <li class="item">Papa +4915142112787</li>
      <li class="item">Jakob +4917643952875</li>
    </ul>
  </section>

  <section class="section">
    <h2>METRO PLAN</h2>
    <a href="https://upload.wikimedia.org/wikipedia/commons/c/c1/Ma
drid_Metro_Map.svg">Metro_Map.svg</a>
  </section>

  <section class="section">
    <h2>Always</h2>
    <p class="item">Spaß | Liebe | Lachen | Geniessen | leerer Bauch</p>
  </section>
</div>
