<div class="unterkunft-container">
  <h1 class="castilla">unterkunft</h1>

  <section class="section">
    <h2 class="didot">Silva 20</h2>
    <p class="item">20 Calle de Silva<br>
    Madrid</p>
  </section>

  <section class="section">
    <p>Gebucht über booking.com<br>
      Bestätigungsnummer: 2352053326<br>
      PIN-Code: 2618<br>
      Check in: 15-20<br>
      Check out: bis 11</p>
  </section>

  <section class="section">
    <p class="item">Nächste Metro:</p>
    <ul class="menu-items">
      <li class="item">2 (rot) Santo Domingo</li>
      <li class="item">3 (gelb) Callao</li>
      <li class="item">5 (grün) Callao</li>
    </ul>
  </section>
</div>
