<div class="anreise-container">
  <h1 class="castilla">anreise</h1>

  <section class="section">
    <h2 class="didot">FLUG</h2>
    <p class="item">30.11. | 18:35 Zürich | 20:55 Madrid (T2) | aireuropa</p>
  </section>

  <section class="section">
    <h2 class="menu-items">METRO</h2>
    <ul class="menu-items">
      <li class="item">8 (rosa) Richtung Nuevos ministerios: Aeropuerto T1-3 bis Nuevos ministerios</li>
      <li class="item">6 (grau) Richtung Laguna: Nuevos ministerios bis Cuatro Caminos</li>
      <li class="item">2 (rot) Richtung Las Rosas: Cuatro Caminos bis Santo Domingo</li>
      <li class="item">Zu Fuß: 3 Minuten von Santo Domingo bis 20 Calle de Silva</li>
    </ul>
  </section>

  <section class="section">
    <h2>TICKETS</h2>
    <ul class="menu-items">
      <li class="item">1x rote Metrokarte für euch 3 zusammen</li>
      <li class="item">am Schalter aufladen: 10 Fahrten und 3x Flughafenzuschlag</li>
      <li class="item">Karte dann jeweils am Schalter dem nächsten geben</li>
    </ul>
  </section>
</div>
